@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


.searchBar input{
    font-size: 1rem;
    margin-right: 2rem;
    padding: .25rem 1rem;
}

.searchBar {
    transition: all 0.3s ease;
}

.expanded {
    width: 320px;
}

.visible {
    opacity: 1;
}

.invisible {
    opacity: 0;
}

.app__bg {
    background-size: cover;
    background: url('Assets/bg.png') repeat fixed center;
}

.slick-active {
    opacity: .5;
}


.slick-center {
    opacity: 1;
}

.slick-center img {
    width: 330px;
    transition: width .75s ease;
}

@media screen and (max-width: 1200px) {
    .slick-center img {
        width: 230px;
        transition: width .75s ease;
    }
}

.featured__content .slick-slider{
    height: fit-content;
    margin: 0;
}

.featured__content .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(1.5);
    z-index: 149;
}

.arrow-right {
    position: absolute;
    top:50%;
    right: 0;
}

.arrow-left {
    position: absolute;
    top:50%;
    left:0;
    z-index: 100;
}


.blue__gradient {
    background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
    filter: blur(123px);
}

.orange__gradient {
    background: linear-gradient(180deg, rgba(255, 165, 0, 0) 0%, #FFA500 100%);
    filter: blur(123px);
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

@media (min-width: 1025px) {
    .grid-container {
        gap: 3vw;
    }
}

@media (max-width: 1024px) {
    .grid-container {
        gap: 4vw;
    }
}

@media (max-width: 800px) {
    .grid-container {
        gap: 4vw;
    }
}

@media (max-width: 525px) {
    .grid-container {
        gap: 5vw;
    }
}











